@tailwind base;
@tailwind components;
@tailwind utilities;

/* Plain links that aren't buttons */
a:not(.btn) {
  /* That also aren't directly within a button;
     see https://stackoverflow.com/q/7084112 for why the descendant combinator can't be used
  */
  :not(.btn) > & {
    @apply link link-accent;
  }
}
